*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}


body{
    background-image: url(Simple\ Shiny.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    font-family: 'Nunito Sans', sans-serif;
}

main{
    display: flex;
    justify-content: center ;
    align-items: center center;
    margin: 150px auto;
    height: 100vh;
}

.login__landing{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ffe3;
    height: 450px;
    text-align: center;
    padding: 20px;
    width: 320px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: -2px 1px 29px 5px rgba(0,0,0,0.75);
-webkit-box-shadow: -2px 1px 29px 5px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 1px 29px 5px rgba(0,0,0,0.75);
}


.form__login{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 14px;
}

.form__login input{
   padding:  15px 12px;
   border: 1px solid rgba(155, 154, 154, 0.678);
   border-radius: 3px;
   color: rgba(250, 233, 233, 0.705);
}

.form__login input::placeholder{
    color: rgba(155, 155, 155, 0.705);
 }






img{
    height: 130px;
    width: 130px;
    
    
}

img:hover{
    -webkit-transform:scale(1.3);transform:scale(1.2);
    transition: all 2s;
}



h2{
    font-size: 2.5rem;
    color: rgba(44, 44, 44, 0.705);
    padding-bottom: 5px;
    padding-top: 20px;
    
}

.button{
    width: 100%;
    padding: 15px 0;
    background-color: #556080;
    color: #fff;
    border: none;
    border-radius: 3px;
    margin-top: 20px;
    margin-bottom: 8px;
    cursor: pointer;
    font-weight: 400;
}


a{
    text-decoration: none;
    padding: 4px 9px;
    border: 1px solid rgba(155, 154, 154, 0.678);
    border-radius: 20px;
    color:#000;
    font-weight: 400;
    margin-top: 5px;
}